@model Blog.ViewModel.MensagemVM

@{
    ViewData["Title"] = "Index";
}

@foreach (var mensagem in Model.Mensagens)
{
    <div class="panel panel-default form-group">
        <div class="panel-heading"><h3>@mensagem.Titulo </h3></div>
        <div class="panel-body">
            <p> @mensagem.Descricao</p>
            <a asp-controller="Comentarios" asp-action="Create" asp-route-id="@mensagem.MensagemId">Comentar</a>
            <a asp-controller="Mensagems" asp-action="Create">Cadastrar Mensagem</a>

            @foreach (var comentario in Model.Comentarios)
            {

                <p><strong>@comentario.Descricao</strong></p>
            }

        </div>
    </div>
}




