@{
    ViewData["Title"] = "Home Page";
}

<h2>Bem Vindo ao nosso Blog!</h2>

@*<div class="img">
    <img src="~/images/esportes-olimpicos-2016.jpg" />
</div>*@

<link href="~/css/Imagem.css" rel="stylesheet" />
